// Body
// $body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "DM Sans", sans-serif;
$font-size-base: 1rem;
$line-height-base: 1.6;

// Color
$primary: #4f46e5;
$secondary: #6b7280;
$success: #166844;
$info: #2563eb;
$warning: #f5903e;
$danger: #dc2626;
$light: #f8fafc;
$dark: #1e293b;
