// Fonts
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

// Variables
@import "variables";

// Bootstrap
@import "bootstrap/scss/bootstrap";

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}

.form-control,
.form-select {
    border-radius: 12px;
    padding: 8px 14px;

    &:focus {
        box-shadow: 0 0 0 0.1rem rgba(79, 70, 229, 0.25);
    }
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    border-radius: 12px;
    padding: 8px 14px;

    &.btn-sm {
        padding: 4px 10px;
        border-radius: 8px !important;
    }
}

.min-h-screen {
    min-height: 100vh;
}

.fs-7 {
    font-size: 14px;
}

.fs-8 {
    font-size: 12px;
}

.card {
    border-radius: 12px;

    .card-header {
        border-radius: 12px 12px 0 0;
    }
}

.navbar {
    .nav-link {
        border: 1px solid transparent;
        border-radius: 8px;
        padding: 6px 10px !important;
        display: flex;
        align-items: center;
        gap: 6px;
        font-size: 15px;

        svg {
            width: 16px;
            height: 16px;
            fill: rgba(0, 0, 0, 0.6);
        }

        &.active,
        &:hover {
            background-color: rgba(79, 70, 229, 0.11);
            border-color: rgba(79, 70, 229, 0.3);
            color: $primary;

            svg {
                fill: $primary;
            }
        }
    }

    .dropdown-menu {
        padding: 4px;

        .dropdown-item {
            display: flex;
            align-items: center;
            gap: 6px;
            border-radius: 8px;

            &.active,
            &:hover {
                background-color: #4e46e517;
                color: $primary;
            }
        }
    }
}

.table th {
    border-top: none;
    font-weight: 600;
    font-size: 0.875rem;
}

.select2-container {
    border: 1px solid #ced4da;
    border-radius: 12px;
    padding: 8px 14px;

    .select2-selection {
        display: flex !important;
    }

    .select2-search__field {
        border: 1px solid #ced4da;
        border-radius: 8px;
        padding: 8px 14px;
        height: 38px;
        outline: none;

        &:focus {
            border-color: $primary;
        }
    }
}

.alert {
    border-radius: 12px;
}

.stats-card-dashboard {
    svg {
        width: 26px;
        height: 26px;
        fill: $primary;
    }

    transition: 0.3s ease-in-out;

    &:hover {
        border-color: $primary !important;
    }
}

.card-dashboard {
    transition: 0.3s ease-in-out;

    &:hover {
        border-color: $primary !important;
        box-shadow: 0 0 10px rgba(79, 70, 229, 0.2);
    }
}

.dashboard-product-card {
    border-radius: 12px;
    border: 1px solid #dee2e6;
    padding: 16px;
    background-color: #fff;
    transition: 0.3s ease-in-out;

    &:hover {
        border-color: $primary;
    }

    img {
        border-radius: 12px;
        width: 70%;
        object-fit: cover;
    }
}

.card-product {
    transition: 0.3s ease-in-out;

    &:hover {
        border-color: $primary !important;
        box-shadow: 0 0 10px rgba(79, 70, 229, 0.2);
    }
}
